/*Bottom scrollbar removed*/
.h-100 {
    overflow-x: hidden;
}
/*Pseudo scrollbar elements*/
* {
    --btcpay-scrollbar-color: #dae7f2a1;
    --btcpay-scrollbar-bg: #dae7f257;
}
/*Media queries*/
@media only screen and (max-width: 768px) {
    #sidebar.active {
        margin-right: 0;
        width:45vw;
        backdrop-filter: blur(50px);
    }
    #content.active {
        width: calc(100% - 45vw);
    }
}
@media only screen and (max-width: 575px) {
    #sidebar.active {
         width:99vw;    
    }
}

/* Body */
body {
    backdrop-filter: blur(1px);
    background-blend-mode: darken;
    background-color: rgba(226, 225, 225, 0.01);
}

/* Headlines */
h1, h2, h3, h4, h5 {
    text-shadow: 1px 1px var(--btcpay-brand-darkest);
}

/* Card */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.6);
    background-clip: border-box;
    border: 2px solid #d3e0ec;
    border-radius: 8px;
    margin-bottom: 30px;
    backdrop-filter: blur(5px);
}


/* Card - Box */
.card-deck .card:hover:before {
    content: "";
    z-index: -10;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 0 200px #484848;
}

/* Card - img */
img.card-img-top {
    transition: 333ms ease-in-out;
    filter: grayscale(60%);
}
.card-deck .card:hover img.card-img-top {
    transform: scale(1.08);
    filter: none;
}

/* Card - img same height */
@media (min-width: 768px) {
    img.card-img-top {
        object-fit: cover;
        height: 180px;
    }
}

/* Improvements */
.form-control {
    padding: 0.3rem 0.4rem;
    background-clip: unset;
}

.btn-outline-primary {
    color: #e1eaf1;
    border-color: #eeeeee;
}

.btn-outline-primary:hover{color:rgb(214, 214, 214);background-color:rgba(31, 73, 117, 0.4); border-color:rgb(214, 214, 214);}

#sidebar {
    width: 400px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    color: var(--btcpay-white);
    background: rgba(31, 73, 117, 0.4);
    transition: all 0.3s;
    -webkit-overflow-scrolling: touch;
  }

  .bg-primary {
    --btcpay-bg-opacity: 1;
    background-color: #1f4975 !important;
  }

  #js-cart-confirm {
    border-radius: 0;
    background-color: #2770bd;
    border: 1px solid #102b48;
  }

